# LTSpice ignore
LTSpice/*.raw
LTSpice/*.db
LTSpice/*.op.raw
LTSpice/*.log
LTSpice/*.net
LTSpice/*.plt

# Altium Designer specific files
PCB_Project/*.DsnWrk
PCB_Project/*.Net
PCB_Project/*.~*
PCB_Project/*.Bak
PCB_Project/*.Log
PCB_Project/*.Txt
PCB_Project/*.Lyr
PCB_Project/*.CMP
PCB_Project/*.Rpt
PCB_Project/*.Out
PCB_Project/*.PDF
PCB_Project/*.BOM
PCB_Project/*.DRL
PCB_Project/*.GTL
PCB_Project/*.GBL
PCB_Project/*.GTS
PCB_Project/*.GBS
PCB_Project/*.GPT
PCB_Project/*.GPB
PCB_Project/*.GM1
PCB_Project/*.GM2
PCB_Project/*.GM3
PCB_Project/*.GM4
PCB_Project/*.GM5
PCB_Project/*.GM6
PCB_Project/*.GM7
PCB_Project/*.GM8
PCB_Project/*.GM9
PCB_Project/*.GKO
PCB_Project/*.EXTREP
PCB_Project/*.REP
PCB_Project/*.CSV
PCB_Project/*.XLS
PCB_Project/*.XLSX
PCB_Project/*.HTML
PCB_Project/*.HTM
PCB_Project/*.XML
PCB_Project/*.INI
PCB_Project/*.PRM
PCB_Project/*.CFG
PCB_Project/*.LIC
PCB_Project/*.LICX
PCB_Project/*.DAT
PCB_Project/*.DB
PCB_Project/*.MDB
PCB_Project/*.ACCDB
PCB_Project/*.TMP
PCB_Project/*.Temp
PCB_Project/*.tmp
PCB_Project/*.temp
PCB_Project/*._SchDoc
PCB_Project/*._PcbDoc
PCB_Project/*.SchDoc.bak
PCB_Project/*.PcbDoc.bak
PCB_Project/*.SchLib.bak
PCB_Project/*.PcbLib.bak
PCB_Project/*.PrjPcb.bak
PCB_Project/*.PrjLib.bak
PCB_Project/*.PrjOutJob.bak
PCB_Project/*.OutJob.bak
PCB_Project/*.LibPkg.bak
PCB_Project/*.PcbProject.bak
PCB_Project/*.PcbProj.bak
PCB_Project/*.SchProject.bak
PCB_Project/*.SchProj.bak
PCB_Project/*.SchLibPkg.bak
PCB_Project/*.PcbLibPkg.bak
PCB_Project/*.IntLib.bak
PCB_Project/*.Lib.bak
PCB_Project/*.MDB.bak
PCB_Project/*.DB.bak
PCB_Project/*.ACCDB.bak
PCB_Project/*.DAT.bak
PCB_Project/*.TMP.bak
PCB_Project/*.Temp.bak
PCB_Project/*.tmp.bak
PCB_Project/*.temp.bak
